<mat-tab-group>
   <mat-tab label="EPS"> 

    <div class="container">
      <div class= "row1">
       <button mat-icon-button (click)="openDialog()">
      <mat-icon>more_vert</mat-icon>
      </button>
        <app-linechart ></app-linechart>
      </div>
    <div class="row2">
      <button mat-icon-button ><mat-icon>more_vert</mat-icon></button>
      <p style="font-family: 'Gill Sans';">Title</p>
     <mat-icon [ngStyle]="{'color': list.enabled? 'primary' : 'warn'}">offline_bolt</mat-icon>
    </div>
     
    <div class="row3">
     <button mat-icon-button class="button2"><mat-icon>more_vert</mat-icon></button>
     <p style="font-family: 'Gill Sans';">Title</p>
     <b>57</b>
    </div>
    </div>



   <!--<mat-grid-list cols="3" rowHeight="1:1">
            <mat-grid-tile> 
              <app-linechart></app-linechart>
              <div class="button" (click)="openDialog()">
              <button mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
              </button>
            </div>
            </mat-grid-tile>
    
            <mat-grid-tile>
                <mat-icon color="primary">offline_bolt</mat-icon>
              <div class="button" >
              <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
              </div>
            </mat-grid-tile>
    
            <mat-grid-tile>
                <div class="dot">57</div>
              <div class="button">
              <button mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
              </button>
            </div>
      </mat-grid-tile>
          </mat-grid-list> --> 
    </mat-tab>
    <mat-tab label="OBC"> Content 2 </mat-tab>
    <mat-tab label="SP1"> Content 3 </mat-tab>
    <mat-tab label="SP2"> Content 3 </mat-tab>
    <mat-tab label="SP3"> Content 3 </mat-tab>
    <mat-tab label="SP4"> Content 3 </mat-tab>
    <mat-tab label="SP5"> Content 3 </mat-tab>
    <mat-tab label="SP6"> Content 3 </mat-tab>
    <mat-tab label="ANT"> Content 3 </mat-tab>
    <mat-tab label="UHF"> Content 3 </mat-tab>
  </mat-tab-group>
    
