<mat-toolbar>
    <span>Satellite Inspector</span>
    <span class="little-spacer"></span>
    <button mat-icon-button class="icon" routerLink="/home" >
        <mat-icon>home</mat-icon>
      </button>
      <span class="little-spacer"></span>
      <button mat-icon-button class="icon" routerLink="/dashboard" >
        <mat-icon>dashboard</mat-icon>
      </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="icon" routerLink="/settings">
      <mat-icon>settings</mat-icon>
    </button>
    <span class="little-spacer"></span>
    <button mat-icon-button class="icon" routerLink="/login">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar>
  <router-outlet></router-outlet>