<mat-tab-group>
    <mat-tab label="EPS"> 

        <mat-grid-list cols="3" rowHeight="1:1">
            <mat-grid-tile> 
              <app-linechart></app-linechart>
              <div class="button">
              <button mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
              </button>
            </div>
            </mat-grid-tile>
    
            <mat-grid-tile>
                <app-linechart></app-linechart>
              <div class="button">
              <button mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
              </button>
            </div>
            </mat-grid-tile>
    
            <mat-grid-tile>
                <div class="dot">57</div>
              <div class="button">
              <button mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
              </button>
            </div>
      </mat-grid-tile>
          </mat-grid-list>


    </mat-tab>
    <mat-tab label="OBC"> Content 2 </mat-tab>
    <mat-tab label="SP4"> Content 3 </mat-tab>
    <mat-tab label="SP5"> Content 3 </mat-tab>
    <mat-tab label="SP6"> Content 3 </mat-tab>
    <mat-tab label="SP7"> Content 3 </mat-tab>
    <mat-tab label="ANT"> Content 3 </mat-tab>
    <mat-tab label="UHF"> Content 3 </mat-tab>
  </mat-tab-group>
    
