<div class="container">
    <div class= "row1">     <!--(click)="openDialog()"-->
     <button mat-icon-button >
    <mat-icon>more_vert</mat-icon>
    </button>
      <app-linechart ></app-linechart>
    </div>
  <div class="row2">
    <button mat-icon-button ><mat-icon>more_vert</mat-icon></button>
    <p style="font-family: 'Gill Sans';">Title</p>
   <mat-icon>offline_bolt</mat-icon>
  </div>
   <!--[ngStyle]="{'color': list.enabled? 'primary' : 'warn'}"-->
  <div class="row3">
   <button mat-icon-button class="button2"><mat-icon>more_vert</mat-icon></button>
   <p style="font-family: 'Gill Sans';">Title</p>
   <b>57</b>
  </div>
  </div>