<div class="container">
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon> add </mat-icon>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->
      <h3 mat-dialog-title>Chart</h3>
      <form [formGroup] = "chartEpsForm" (ngSubmit)="Submit()">
        <mat-form-field appearance="fill">
          <mat-label >EPS description</mat-label>
        <mat-select formControlName="moduledescription" >
          <mat-option *ngFor = "let module of modArray" value="{{module.moduledescription}}" >
            {{module.moduledescription}}
          </mat-option>
        </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label >Satellite name</mat-label>
          <mat-select formControlName="satellite_name">
            <mat-option *ngFor = "let satellite of satArray" value="{{satellite.satellite_name}}">
              {{satellite.satellite_name}}
            </mat-option>
          </mat-select>
          </mat-form-field>
        <mat-form-field class="fullWidth"  appearance="fill">
        <mat-label>Paginator</mat-label>
        <mat-select formControlName="pagination">
          <mat-option value="100">100</mat-option>
          <mat-option value="500">500</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button>submit</button>
    </form>

    <h3 mat-dialog-title>Number</h3>
    <form [formGroup] = "NumberEpsForm" (ngSubmit)="Submit2()" >
      <mat-form-field appearance="fill">
        <mat-label >EPS description</mat-label>
      <mat-select formControlName="moduledescription">
        <mat-option *ngFor = "let module of modArrayNumber" value="{{module.moduledescription}}" >
          {{module.moduledescription}}
        </mat-option>
      </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
          <mat-label >Satellite name</mat-label>
        <mat-select formControlName="satellite_name">
          <mat-option *ngFor = "let satellite of satArray" value="{{satellite.satellite_name}}">
            {{satellite.satellite_name}}
          </mat-option>
        </mat-select>
        </mat-form-field>
    <button mat-raised-button>submit</button>
  </form>



  <h3 mat-dialog-title>Boolean</h3>
  <form [formGroup] = "BoolEpsForm" (ngSubmit)="Submit3()">
    <mat-form-field appearance="fill">
      <mat-label  >EPS description</mat-label>
    <mat-select formControlName="moduledescription">
      <mat-option *ngFor = "let module of modArrayStatus" value="{{module.moduledescription}}" >
        {{module.moduledescription}}
      </mat-option>
    </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label >Satellite name</mat-label>
      <mat-select formControlName="satellite_name">
        <mat-option *ngFor = "let satellite of satArray" value="{{satellite.satellite_name}}">
          {{satellite.satellite_name}}
        </mat-option>
      </mat-select>
      </mat-form-field>
  <button mat-raised-button>submit</button>
</form>
    </mat-expansion-panel>

  <!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->

<div class="row1" style="display: block; width: 1100px; height: 500px;">
    <canvas baseChart
    [datasets]="ChartData"
    [labels]="ChartLabels"
    [options]="ChartOptions"
    [plugins]="ChartPlugins"
    [legend]="ChartLegend"
    [chartType]="ChartType"
    [colors] ="ChartColors"
    >
  </canvas>
 </div>

 <div class="row2">
  <p style="font-family: 'Gill Sans';">{{titleNumber}}</p>
   <span>{{dataNumber}}</span>
</div>


<div class="row3">
  <p style="font-family: 'Gill Sans';">{{titleStatus}}</p>
  <mat-icon [style.color]="dataStatus ? 'blue':'red'" >offline_bolt</mat-icon>
 </div>
 