<div class="container">
<mat-card><h1>Console Log  </h1>
<mat-list>
    <mat-list-item> 

        <mat-card>Satellite 1 </mat-card>
        
    </mat-list-item>
    <mat-list-item> 
        
        <mat-card>Satellite 1 Warning</mat-card>

    </mat-list-item>
    <mat-list-item> 

        <mat-card>Alert</mat-card>

    </mat-list-item>

    <mat-list-item> 

        <mat-card>Alert</mat-card>

    </mat-list-item>

    <mat-list-item> 

        <mat-card>Alert</mat-card>

    </mat-list-item>

    <mat-list-item> 

        <mat-card>Alert</mat-card>

    </mat-list-item>

</mat-list>
</mat-card>
</div>

           

        


